.heading_grid {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}
.body_grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}
.body_grid > div > div  {
    border: 1px solid black;
}

.logo {
    border: 1px solid black;
    text-align: center;
    
}
.year {
    border: 1px solid black;
    text-align: center;
}