body {
    border: red 16px solid;
    background: lightblue url("/images/background2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
}
.heading_grid {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}
.heading_grid > div {
    height: 60px;
}
.body_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1em;
    
}
.body_grid > div {
    display: grid;
    grid-template-columns:1fr 1.25fr 1fr;
    grid-auto-rows: 200px;
    justify-items: stretch;
    align-items: stretch;
       
}
.body_grid > div > div:nth-child(even) {
    border: black 1px solid;
}
.body_grid > div > div {
    display: grid;
    justify-content: center;
    align-content: center;
}

.logo {
    border: 1px solid black;
    text-align: center;
    
}
.year {
    border: 1px solid black;
    text-align: center;
}


.month {
    display: grid;
    grid-template-columns:1fr 7fr;
    padding: 5px 10px 5px 15px;
    border: black 1px solid;

}
.month > div:first-child {
    background-color: blue;
    color: white;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.6em;
    text-align: center;
    font-family: "Arial", serif;
    width: 1.5em;
    justify-content: center;
    align-content: center;
    
}
.month > div {
    display: grid;
    justify-content: center;
    align-content: center;
}